<!DOCTYPE html>
<html>
<head>
<title> </title>
</head>
<body>
  <h1> A quién debo saludar?</h1>
  <form action="/hola" method="post">
    <input type="text" name="name" id="name">
    <input type="submit" value="Hola">
  </form>
</body>
</html>
